[Desktop Entry]
Name=IrisSITL
Comment=3-D Robot simulator
Exec=iris_px4sitl
Icon=gazebo
Type=Application
Categories=Development;Education;Science;
StartupNotify=true
OnlyShowIn=GNOME;Unity;
Keywords=Run;
Name[en_US]=Iris SITL Trainer
Terminal=true
